#footer {
    background: $very-dark-black-blue;
    border-top-right-radius: 80px;
    height: 50vh;
    margin-top: 9rem;

    .container {
        max-width: $max-width;
        margin: 0 auto;

        .footer-holder {
            display: flex;
            justify-content: space-between;
            // align-items: center;
            padding-top: 3rem;
            font-family: $font-family-2;

            img {
                align-self: flex-start;
            }

            .first {
                padding-bottom: 2rem;
                color: $white;
            }

            a {
                color: $grayish-blue;
                line-height: 2.5;
            }

            a:hover {
                border-bottom: 2px solid $grayish-blue;
            }
        }
    }
}