#header {
    height: 60vh;
    background: $header-bg;
    border-bottom-left-radius: 50px;
    position: relative;
    
    .container {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;

        #selection-1 {
            position: absolute;
            background: $white;
            border-radius: 5px;
            width: 120px;
            padding: 7px;
            display: none;
        }

        #selection-2 {
            position: absolute;
            left: 265px;
            background: $white;
            border-radius: 5px;
            width: 145px;
            padding: 7px;
            display: none;
        }

        #selection-3 {
            position: absolute;
            left: 390px;
            background: $white;
            border-radius: 5px;
            width: 120px;
            padding: 7px;
            display: none;
        }

        #selection-1 div:hover, #selection-2 div:hover, #selection-3 div:hover {
            cursor: pointer;
            font-weight: 500;
        }

        .nav-bar-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 2rem;
            font-family: $font-family-2;
            // ul {
            //     align-self: start;
            // }

            ul {
                margin-left: -350px;

                li {
                    display: inline-block;
                    padding: 1rem;

                    // img {
                    //     transform: rotate(180deg);
                    // }
                }
            }
        }

    }

    .header-div {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, 30%);
        text-align: center;
        font-family: $font-family-1;
        color: $white;

        h1 {
            font-size: 40px;
        } 
        
        p {
            color: $grayish-blue;
        }
    }
}

// #header::before {
//     background: url('../images/bg-pattern-intro.svg') no-repeat center center/cover;
// }


